// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin dt-normal-button {
	border-radius: 0;
	border: 1px solid black;
	background-color: white;
	padding: 0.75rem;
	transition: 0.3s ease-in-out;
	
	&:hover,
	&:focus,
	&:focus-within,
	&:focus-visible {
		background-color: $color__link-hover;
		color: white;
		border: 1px solid darken($color__link-hover, 25%);
		outline: none;
		cursor: pointer;
	}
}

@mixin dt-normal-input {
	border-radius: 0;
    border: 1px solid black;
	transition: 0.25s ease-in-out;

	&:focus,
	&:focus-within,
	&:focus-visible {
		border-color: $header_text_color;
		box-shadow: 0px 0px 0px 1px $header_text_color;
		outline: none;
	}
}

@mixin dt-colored-table {
	background-color: rgba($color: #000000, $alpha: 0.1);
	border-collapse: collapse;
	text-align: left;
	font-weight: normal;

	thead {
		background-color: rgba($color: #000000, $alpha: 0.05);

		
	}

	th, td {
		padding: 1rem;
	}
}

@mixin cta-button {
	background-color: white;
	padding: 0.5rem 2rem;
}