.site-header {
    position: fixed;
    z-index: 800;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
    border-bottom: 3px solid #ebe6e6;
    height: $header-height;

    .main-navigation {
        margin-left: auto;
    }

    .hamburger-navigation,
    .main-navigation {
        width: auto;
    }

    .site-branding {
        height: 95%;
        margin-left: 2%;

        .custom-logo-link {
            display: block;
            height: 100%;
    
            img {
                height: 100%;
                width: auto;
            }
        }
    }


    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 33%;
        border-bottom: 3px solid;
        bottom: -3px;
    }
    
    &::before {
        right: 0;
        border-color: #853540;
    }

    &::after {
        left: 0;
        border-color: #154837;
    }
}