// Dalla Terra Primary Colors
$corporate_green: #154837;
$corporate_red: #853540;
$corporate_blue: #1f3860;

// Dalla Terra Secondary Colors
$footer_dark: #181009;
$main_font_beige: #ebd693;
$header_text_color: #5C7D72;

// Pre-Installed Colors
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #266150; 
$color__link-visited: #266150; 
$color__link-hover: #fe5e54; 
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

